<h2><%= @event.name %></h2>

<ul>
  <% @event.groups.each do |g| %>
    <li><%= g.name %></li>

  <% end %>
</ul>

<p><%= @event.category.try(:name) %></p>

<%= simple_format @event.description %>

<% if @event.logo.exists? %>
  <%= image_tag( @event.logo.url(:thumb) ) %>
<% end %>

<p><%= link_to 'Back to index', events_path %></p>